*{
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(0deg, #F7F8FA, #F7F8FA), radial-gradient(101.54% 57.27% at 50% 59.3%, rgba(255, 255, 255, 0.4) 0%, rgba(247, 248, 250, 0) 100%);
}

.font400 {
  font-family: Geologica;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font300 {
  font-family: Geologica;
  font-weight: 300;
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font500 {
  font-family: Geologica;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font700 {
  font-family: Geologica;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font300-20 {
  font-family: Geologica;
  font-weight: 300;
  font-size: 20px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font300-24 {
  font-family: Geologica;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;  
}

.font400-44 {
  font-family: Geologica;
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0%;  
}

.font400-20 {
  font-family: Geologica;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;  
}

.font400-20-second {
  font-family: Geologica;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;  
}

.font400-56 {
  font-family: Geologica;
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0%;  
}

.font500-20 {
  font-family: Geologica;
  font-weight: 500;
  font-size: 20px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font500-24 {
  font-family: Geologica;
  font-weight: 500;
  font-size: 24px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font500-28 {
  font-family: Geologica;
  font-weight: 500;
  font-size: 28px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font500-60-uppercase {
  font-family: Geologica;
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;  
}

.font600-24 {
  font-family: Geologica;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font600-24-second {
  font-family: Geologica;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font600-40 {
  font-family: Geologica;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font700-20 {
  font-family: Geologica;
  font-weight: 700;
  font-size: 20px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font700-32 {
  font-family: Geologica;
  font-weight: 700;
  font-size: 32px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.font-white {
  color: #FFFFFF;
}

.font-black {
  color: rgba(43, 49, 62, 1);
}

.font-orange {
  color: rgba(238, 114, 3, 1);
}

.font-gray {
  color: rgba(161, 168, 185, 1);
}

.image-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-height: 960px;
  background: linear-gradient(283.16deg, rgba(0, 0, 0, 0) 4.05%, rgba(0, 0, 0, 0.3) 62.62%), url('../../shared/assets/icons/image.png');
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .image-container {
    background-position: left;
    height: 588px;
  }

}

@media (min-width: 1025px) and (max-width: 1850px) {
  .font700-32 {
    font-size: 28px;
  }

  .font500 {
    font-size: 14px;
  }

  .font500-20 {
    font-size: 16px;
  }

  .font500-24 {
    font-size: 20px;
  }

  .font300-20 {
    font-size: 16px;
  }

  .font500-28 {
    font-size: 24px;
  }

  .font400-44 {
    font-size: 40px;
  }

  .font500-60-uppercase {
    font-size: 56px;
  }

  .font300-24 {
    font-size: 20px;
  }

  .font600-24 {
    font-size: 20px;
  }

  .font600-40 {
    font-size: 36px;
  }

  .font700-20 {
    font-size: 16px;
  }

  .font400-20 {
    font-size: 16px;
  }

  .font400-56 {
    font-size: 52px;
  }
}

@media (max-width: 1024px) {
  .font700-32 {
    font-size: 16px;
  }

  .font500 {
    font-size: 14px;
  }

  .font500-20 {
    font-size: 14px;
  }

  .font500-28 {
    font-size: 16px;
  }
  
  .font400-44 {
    font-size: 24px;
  }

  .font500-60-uppercase {
    font-size: 28px;
  }

  .font300-24 {
    font-size: 14px;
  }

  .font600-24 {
    font-size: 20px;
  }

  .font600-40 {
    font-size: 20px;
  }

  .font700-20 {
    font-size: 16px;
  }

  .font400-20 {
    font-size: 14px;
  }

  .font400-20-second {
    font-size: 14px;
  }

  .font600-24-second {
    font-size: 16px;
  }

  .font500-24 {
    font-size: 14px;
  }

  .font400-56 {
    font-weight: 500;
    font-size: 24px;
  }
}