.container-name-input {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 130px;
    display: flex;
    height: 66px;
    width: 100%;
    max-width: 393px;
}

.big {
    border-radius: 50px;
    width: 332px;
}

.tiny {
    border-radius: 8px;
    width: 100%;
}

.grey {
    background: rgba(245, 247, 250, 1);
}

.white {
    background: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
    .container-phone-input {
        height: 57px;
    }

    .big {
        width: 280px;
    }

    .phone-input {
        font-size: 14px;
    }
}

@media (min-width: 1025px) and (max-width: 1850px) {
    .phone-input {
        font-size: 16px;
    }
}

