.link-list-footer,
.link-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    background: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

img {
    width: 30px;
    height: 20px;
}

@media (max-width: 1000px) {
    .link-list {
        gap: 15px;
    }
}

@media (max-width: 900px) {
    .burger-menu {
        display: block;
    }
  
    .link-list {
        display: none;
        flex-direction: column;
        position: absolute;
    }

    .link-list-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
  }