header {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35.9px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: auto;
    min-height: 40px;
    max-height: 126px;
    box-sizing: border-box;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 5%;
    min-width: 42px;
    max-width: 97px;
    height: auto;
    max-height: 86px;
    min-height: 38px;
    order: 1;
}

.container {
    width: 50%;
    min-width: 148px;
    max-width: 675px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    order: 2;
    gap: 40px;
}

.burger {
    order: 0;
}

.text-container {
    flex-grow: 1;
    width: 50%;
    max-width: 292px;
    min-width: 148px;
    height: auto;
    max-height: 65px;
    min-height: 38px;
}

.button-container {
    width: 50%;
}

.working-circle {
    width: 12px;
    height: 12px;
    background: rgba(25, 194, 81, 1);
    border-radius: 50%;
    display: inline-block;
}

.lower-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    header {
        width: auto;
        background-color: transparent;
        backdrop-filter: none;
        border-bottom: none;
        height: 40px;
        padding: 0px 0px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .text-container {
        height: 38px;
    }

    .logo-img {
        order: 0;
    }

    .container {
        order: 1;
    }

    .burger {
        order: 2;
    }
}

@media (max-width: 1700px) {
    .button-container{
        display: none;
    }

    .container {
        width: fit-content;
    }
}

@media (max-width: 1000px) {
    .lower-text::after {
        content: "";
    }

    .extra-text {
        display: none;
    }

    .working-circle {
        width: 8px;
        height: 8px;
    }

    .lower-text {
        gap: 8px;
    }
}

@media (min-width: 1024px) and (max-width: 1850px) {
    header {
        padding: 20px 72px;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    header {
        padding: 16px 24px;
    }
}