.main-info-container {
    padding: 0 150px;
    position: relative;
  }

.container-full {
    box-sizing: border-box;
    padding: 80px 150px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.container-full-gradient {
    padding-right: 0px;
}

.promo-quiz {
    display: flex;
    flex-direction: column;
    gap: 60px;
    box-sizing: border-box;
    padding: 40px 0px;
}

.footer-container,
.container-full-gradient,
.container-middle {
    display: flex;
    flex-direction: column;
    gap: 60px;
    box-sizing: border-box;
    padding: 80px 150px;
}

.footer-container {
    background: rgba(43, 49, 62, 1);
}

@media (min-width: 1024px) and (max-width: 1850px) {
    .main-info-container {
        padding: 0px 72px;
    }

    .container-middle {
        padding: 60px 72px;
    }
    
    .footer-container,
    .container-full-gradient,
    .container-full {
        padding: 70px 72px;
    }

    .container-full-gradient {
        padding-right: 0px;
    }
}
  
@media (min-width: 769px) and (max-width: 1440px) {
    .main-info-container {
        padding: 0px 24px;
    }

    .container-middle {
        padding: 40px 24px;
    }

    .footer-container,
    .container-full-gradient,
    .container-full {
        padding: 60px 24px;
    }

    .container-full-gradient {
        padding-right: 0px;
    }
}
  
@media (max-width: 768px) {
    .main-info-container {
      padding: 0px 16px;
    }

    .container-middle {
        padding: 40px 16px;
    }

    .footer-container,
    .container-full-gradient,
    .container-full {
        padding: 40px 16px;
        gap: 40px;
    }

    .container-full-gradient {
        padding-right: 0px;
    }

    .promo-quiz {
        gap: 32px;
    }
}